<div class="container">
    <div class="row justify-content-center">
        <img style="height: 180px;
    width: 180px;" src="../assets/img/icon.png">
    </div>
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <form class="user" [formGroup]="UserForm" (ngSubmit)="Login()">
                        <div class="form-group">
                            <input type="email" class="form-control form-control-user" aria-describedby="emailHelp" placeholder="Enter Email Address..." formControlName="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control form-control-user" placeholder="Password" formControlName="Password">
                        </div>
                        <button class="btn btn-primary btn-user btn-block" type="submit">
                                 Login
                            </button>
                    </form>
                    <hr>
                    <div class="text-center">
                        <a class="small" (click)='forgotpassword()'>Forgot Password?</a>
                    </div>
                    <div class="text-center">
                        <a class="small" (click)='register()'>Create an Account!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- <form #form="ngForm" (ngSubmit)="login(form)">
        <ion-grid>
            <ion-row color="primary" justify-content-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                    <div text-center>
                        <h3>Login</h3>
                    </div>
                    <div padding>
                        <ion-item>
                            <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
                        </ion-item>
                    </div>
                    <div padding>
                        <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <div text-center>
                    If you don't have an account, please <a routerLink='/register'>
                register</a> first!
                </div>
            </ion-row>
        </ion-grid> -->
<!-- </form> -->