<ion-content>
    <ion-item>
        <ion-input type='text' aria-placeholder="QR code" [(ngModel)]="qrData"></ion-input>
    </ion-item>
    <ion-item><button ion-button full icon-left (click)="createCode()"><ion-icon name='barcode'></ion-icon>Create Code</button></ion-item>
    <ion-item><button ion-button full icon-left (click)="scanCode()"><ion-icon name='qr-scanner'></ion-icon>Scan Code</button></ion-item>

    <ion-card *ngIf="createdCode">
        <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
        <ion-card-content>
            <p class="lead">
                value: {{ createdCode }}
            </p>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="scannedCode">
        <ion-card-content>
            Scanned: {{ scannedCode }}
        </ion-card-content>
    </ion-card>
</ion-content>